*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: #D5DBE2;
}

   /*
--Light shades: #D5DBE2;
--Light accent: #B3BFCB;
--Main brand color: #778CA4;
--Dark accent: #4F6271;
--Dark shades: #313C45;
   */



.name{
    font-size: 50px;
    color: #313c45;
    display: inline-block;
    border-radius: 25%;
    width: 20px;
    margin-bottom: 0px;
    background: #D5DBE2;
}

.propic{
    border-radius: 100%;
    width: 25;
    height: 25;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #B3BFCB;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #778CA4;
    background-color: #B3BFCB;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #4F6271;
}



.column {
    background-color: #313c45;
    float: left;
    width: 32%;
    margin: 6px;
    color: #B3BFCB;
    padding: 13px 25px;
}

#AboutMe{

    text-align: center;
    background: #D5DBE2;
    color: #313c45;
    padding: 15px 30px;
    background: #778CA4;
}



footer{
    padding-top: 14px;
    clear:both;
    bottom: 0;
    text-align: center;
    background-color: #B3BFCB;
}


p, ol, ul {
    width: auto; /* Removes fixed 500px width */
}
